.primary-color{
    background: linear-gradient(to right, #12CE5D 0%, #FFD80C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secondart-color{
    color: #009ef7 !important;
}

// .main-container {
//     width: 1400px !important;
//     max-width: 1400px !important;
// }
.header{
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
    height: 70px;
    top: 0;
    
    
}
body{
    background-color: #f5f8fa;

}
.v-editor{
    &-icon{
        width: 60px;
        height: 40px;
        background-color: red;
        margin-right: 15px;
        border-radius: 5px;
        
    }
}   

.c-says{
    &-icon{
        width: 60px;
        height: 40px;
        background-color: red;
        margin-right: 15px;
        border-radius: 5px;
        
    }
}  
.footer{


}
.start-login{
    background: linear-gradient(90deg, #20AA3E 0%, #03A588 100%);
    border-radius:10px ;
    margin-top: 40px;
}
.css-y7ab46-MuiPaper-root-MuiDrawer-paper{ width: 525px;}

.primary-button{
  
}
.templete_box{ width: 550px;}
.svg-icon svg{
    height: 3.5rem !important;
    width: 3.5rem !important;
}
.fs-7{
    font-size: 14px !important;;
}
.fs-8{
    font-size: 13px !important;;
}
.fs-9{
    font-size: 12px !important;;
}
.fs-10{
    font-size: 10px !important;;
}
.light-text{
    color: #a1a5b7;
}
.black-text{ color: #000 !important;}
.Video-Helights svg{
    width: 50px;
    height: 60px;;
}
.menu-box{
     width: 800px;
     height: 412px !important;
     box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05) !important;
     --Paper-shadow: none !important;
}
.gup{
     margin-bottom: 100px !important;
}
.cart-container-box{ background-color: #e3e7ed; height: 150px;}
.editiable-cards-container-box{
    background: #f5f8fa;
    height: 66px;
    border: 1px dashed #cad9e1;
    border-radius: 6px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.editiable-cards-container-box:hover{
    border: 1px dashed #61b4e2;
    background-color: #edf8ff;
}
.editiable-cards-container-box:hover h5{ color: #000 !important;}
.lt-100{ margin-top: 100px !important;}
.h-450px {
    height: 450px !important;
}
.video-content-ul{
    li{
        list-style: none;
        border-bottom: 1px dashed #e4e6ef;
        min-height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
   
    }
}
.template-banner-container{
     height: 200px;
     background-color: rgb(239, 222, 222);
     border-radius: 10px;
}
.modal-box{
    width: 520px ;
    border: none !important;
    border-radius: 8px;
    @media screen and (max-width:599px){
        width: 100%;
    }
}
.modal-box-height{ height: 350px;;}
.select-cards-info, .filter-box{
    border:1px dashed #ccc;
    padding: 10px;
    border-radius: 5px;;
    width: 100%;
    justify-content: center;
    background-color: #f5f8fa;
 
}
.select-cards-info:hover, .filter-box:hover{
    border:1px dashed #009ef7 !important;
    background-color: #f5f8fa !important;
}

.filter-info-slider .slick-slide{ width: 100% !important;}
.filter-info-slider .slick-track{     width: 100% !important;
    justify-content: space-between;
    display: flex
;}


// modal box

.modal-header{
    height: 40px;
    border-bottom: 1px solid #ccc;
}
.modal-body{
    height: calc(100vh - 122px);

    overflow: auto;
}
.user-pic img{
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.v-template{
    &-icon{
        width: 50px;
        height: 50px;
       
        margin-right: 15px;
        border-radius: 5px;
        img{
            width:50px;
            height:50px;
            border-radius: 10px;
        }
        
    }
} 
.menuwraper{
    margin-top: 15px !important;
}
.menu-height-fix{
    height: 69px;
}
a{
     color: #000 !important;
     text-decoration: none;
}
button{
    text-transform: capitalize !important;
}  
.h-20px{
    height: 20px !important;;
}
.h-30px{
    height: 30px !important;;
}
// .profile-menu{ width: 324px !important;}
// .user-pic menu.profile-menu{ width: 300px !important;}
.fix-profile-menu{ width: 300px !important;}
.menu-box-fix{     width: 50%; cursor: pointer;
    height: 100px;
border: 1px solid #f6efef;
    float: left;}

    .menu-box-fix:hover{
        background-color: #f5f8fa;
    }
    .fix-profile-menu  .menu-item svg{
        width: 2em !important;
        height: 2rem !important;
        color: #009ef7;

    }
.login-logo{
    height: 50px;
    text-align: center;
    margin: auto;
    display: flex;
    margin-bottom: 48px;}
    .right-menu a:hover,    .right-menu a:hover  svg{
        background-color: #f5f8fa !important;
        color: #009ef7 !important;
    }

    .assets-menu ul li{ list-style: none; display: flex; float: left; padding: 10px; cursor: pointer;}
    .active-tab:hover{ border-bottom:2px solid #009ef7;}
    .active-tab { border-bottom: 2px solid #fff;}
    .select-filter{ width: 300px !important;}
    .user-box{ width: 40px; height: 40px; background-color: #000; border-radius: 5px; ; margin-right: 10px;}
    .edit-user{ background-color: #f4eeee; height: 100px; width: 100px;} 
    .edit-user-edit{ width: 20px; height: 20px; background-color: #fff; border-radius: 50%; right:-10px; top: -10px; box-shadow: 2px 1px 1px #858484; display: flex; justify-content: center; align-items: center; }
    .edit-user-close{ width: 20px; height: 20px; background-color: #fff; border-radius: 50%; right:-10px; bottom: -10px; box-shadow: 2px 1px 1px #858484; display: flex; justify-content: center; align-items: center; }

    .users-img{ width: 40px; height: 40px; background-color: #e4e8eb; border-radius: 4px;; }
    .users-img img{ border-radius: 4px;}

    .arrow-left{ width: 20px; height: 20px; background-color: #dadbe3; display: block;}
    .badgelable{     background-color: #f5f8fa !important;
        color: #7e8299 !important;
    }
    .succesbadge{
        background-color: #e8fff3 !important;
        color: #50cd89;
    }
    .processbadge{
        background-color: #f1faff !important;
        color: #009ef7;
    }
    .edit-user-pic{ width: 25px; height: 25px; background-color: rgb(243 242 242); border-radius: 2px; text-align: center; display: flex; justify-content: center; align-items: center;}
    .modal-drawer{
        >div{
        &:nth-child(3){
            @media screen and (max-width:599px){
            width: 100% !important;
            }
        }
    }
    }
    .footer a:hover, .linkclass{ color: #009ef7 !important;}
    .cursor-pointer {
        cursor: pointer !important;
      }





    //   admin CSS
    .login-container{
        display: flex;
    flex-direction: column;
    height: calc(100vh - 20px);
    @media screen and (max-width:760px) {
        height: 100% !important;
        margin-bottom: 30px;
        
    }
    &-inner{
     flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    @media screen and (max-width:760px) {
        height: 100% !important;
        
    }
    }
    }

    .w-lg-500{
        width: 500px;
        @media screen and (max-width:700px){
            width: 100% !important;
        }
    }
    .login-content{
        position: absolute;
        margin:0 auto;
        top: 40%;
        width: 70%;
        left: 20%;
        @media screen and (max-width:700px){
            width: 100% !important;
            left: 0 !important;
        }
    }
    .w-60px{
        width: 60px;
    }
    .h-60px{
        height: 60px;;
    }
    .inputborder{
        border:1px solid #cccc;
    }
    .twostep-logo{ width: 200px; margin: 0 auto;}